.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-position: center center;
  height: 250px;
  border-radius: 25px;
  background-size: cover;
}

.titleBanner {
  color: white;
  font-size: 48px;
  font-weight: 500;
}