
.card {
  position: relative;
  height: 340px;
  width: 340px;
  background-color: rgb(10, 146, 101);
  border-radius: 25px;
  margin: 25px;
  span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: 10px;
    color: white;
    width: 156px;
    font-weight: bold;
  }
}

@media screen and (max-width: 980px) {
  .card {
    height: 255px;
    width: 335px;
  }
  
}