
.card {
  position: relative;
  height: 340px;
  width: 340px;
  background-color: rgb(10, 146, 101);
  border-radius: 25px;
  margin: 25px;
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: white;
  }
}