.collapse {
  background-color: #FF6060;
  color: white;
  border-radius: 5px;
  width: 100%;
  padding-top: 10px; 
  padding-bottom: 10px; 
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.content {
  transition: opacity .3s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  background-color: #F6F6F6;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: -5px;
  color: #FF6060;
  &.contentVisible {
    opacity: 1;
    height: max-content;
  }
}

.collapseParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 80%;
}

.spanCollapse {
  padding-left: 15px;
}

.arrowCollapse {
  padding-right: 20px;
}

.contentPadding {
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .spanCollapse {
    font-size: 13px;
  }

  .contentPadding {
    font-size: 13px;
  }
  .collapse {
    height: 24px;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 6px;
    font-size: 12px;
  }
}