.grid {
  background-color: #F6F6F6;
  min-height: 50vh;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 980px) {
  .grid {
    background-color: white;
  }
}