.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

nav {
  font-size: 24px;
  font-weight: 500;
  color: #FF6060;
  width: 20%;
  justify-content: space-between;
  display: flex;
}

a {
  text-decoration: none;
}
// nav a.active {
//   text-decoration: underline #FF6060 solid;
// }
.link {
  color: #FF6060;
}

.link:hover {
  /* Styles pour l'état hover */
  text-decoration: underline;
}


.link.active {
  text-decoration: underline;
}

